.media--type-link-preview {
  border: 2px solid grey;
  width: 500px;
}

.media--type-link-preview img {
  width: 100%;
  height: auto;
}

.media--type--link-preview--content {
  padding: 0.5em;
}

.media--type-link-preview a {
  color: inherit;
  text-decoration: none;
}

.media--type-link-preview a:visited {
  color: inherit;
}
