{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    not media.isPublished() ? 'media--unpublished',
    view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% if content %}
    <a href="{{ link }}">
      {{ content.field_meta_image }}
    </a>
    <div class='media--type--link-preview--content'>
    <h3>
      <a href="{{ link }}">
        {{ content.name }}
      </a>
    </h3>
    <a href="{{ link }}">
      {{ content|without('name', 'field_meta_image') }}
    </a>
    </div>
  {% endif %}
</article>
